<% content_for(:title, "#{t(".subTitle")} | Mtdavid Guitars") %>
<% content_for(:description, "Contáctanos por Facebook, TikTok, email o WhatsApp. Estamos para ayudarte con tus consultas sobre guitarras e instrumentos musicales.") %>

<div class="contact-container">
  <h1 class="contact-sub-title"><%= t(".subTitle") %></h1>
  <p class="contact-title"><%= t(".title") %></p>
  <p class="contact-divider"></p>
  <p class="contact-second-text"><%= t(".secondText") %></p>

  <div class="container-cards">
    <div class="card">
      <%= image_tag "facebook.webp", width: "30px", height: "30px", style: "margin-bottom: 10px" %>
      <p class="card-title">Facebook</p>
      <p class="card-follow-us"><%= t(".followFacebook") %></p>
      <%= link_to "https://www.facebook.com/Mtdavidguitars", target: "_blank", rel: "noopener", class: "link-go" do %>
        <svg width="15px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
      <% end %>
    </div>

    <div class="card">
      <%= image_tag "email-2.webp", width: "60px", height: "50px", style: "margin-bottom: 5px" %>
      <p class="card-title">Email</p>
      <p class="card-follow-us"><%= t(".sendEmail") %></p>
      <%= link_to "info@mtdavid.com.pe", "mailto:info@mtdavid.com.pe", target: "_blank", rel: "noopener", class: "email" %>
    </div>

    <div class="card">
      <%= image_tag "tiktok-2.webp", width: "30px", height: "30px", style: "margin-bottom: 10px" %>
      <p class="card-title">TikTok</p>
      <p class="card-follow-us"><%= t(".followTikTok") %></p>
      <%= link_to "https://www.tiktok.com/@mtdavid_guitars?_r=1&_t=ZS-941q5cGDfcb", target: "_blank", rel: "noopener", class: "link-go" do %>
        <svg width="15px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
      <% end %>
    </div>
  </div>

  <div class="write">
    <div class="write-sub-container">
      <p class="write-sub-container-question"><%= t(".question") %></p>
      <p><%= t(".help") %></p>
    </div>

    <%= link_to "https://wa.me/51934255287?text=Hola", target: "_blank", rel: "noopener", class: "btn-whatsapp" do %>
      <p><%= t(".writeNow") %></p>
      <%= image_tag "whatsapp.webp", width: "30px", height: "30px" %>
    <% end %>
  </div>
</div>
