<% if authenticated? %>
  <button class="button-create-guitar">
  <%= link_to t(".createGuitar"), new_product_path %>
  </button>

  <%= button_to t("common.logOut"), session_path, class: "button-secondary", style: "margin-top: 10px", method: :delete if authenticated? %>
<% end %>

<div class="list-products">
  <% @products.each do |product| %>
    <div class="list-products-item">
      <p class="list-products-item-title">
        <%= product.name %>
      </p>

      <br />

    <%= image_tag product.featured_image, style: "width: 100%;object-fit: contain; height: 200px; box-shadow: 0 4px 8px -6px rgba(0, 0, 0, 0.12);" if product.featured_image.attached? %>

    <% if product.inventory_count > 0 %>
      <div class="container-buttons-cart">
        <%= button_to t("common.addToCart"), add_product_order_path(@order, product_id: product.id), method: :post, class: "button-add-cart" %>
      </div>
    <% else %>
      <p class="exhausted"><%= t(".exhausted") %></p>
    <% end%>

    <div class="list-products-item-data">
      <strong><%= t(".description") %>:</strong>
      <span class="list-products-item-description">
        <%= truncate(product.description.to_plain_text, length: 70) %>
      </span>
      <br />
      <br />
      <strong><%= t(".price") %>:</strong>
      <span><%= product.price.to_i %> <%= t("common.currency") %></span>
      <br />
      <br />
      <strong><%= t(".availableQuantities") %>:</strong>
      <span><%= product.inventory_count %></span>
    </div>

      <%= link_to product_path(product), class: "link-show-more" do %>
        <span><%= t("common.moreInformation") %></span>
      <% end %>
    </div>
  <% end %>
</div>
