<section class="container-general">
  <div style="margin-top: 20px; margin-bottom: 30px">
    <%= link_to t("common.back"), products_path, class: "button-primary" %>
  </div>

  <section class="products-show-sub-container" style="width: 80%; margin: auto">
    <div class="container-main" data-controller="image-gallery">
      <div data-controller="slider">
        <div data-controller="zoom" class="zoom-wrapper">
          <%= image_tag @product.featured_image, data: { zoom_target: "image", action: "mousemove->zoom#move mouseleave->zoom#reset", image_gallery_target: "main" }, class: "products-show-main-image", style: "" %>
        </div>

        <div style="display: flex; align-items: center; gap: 10px; justify-content: center; margin-top: 10px">
          <% if @product.media.length > 3 %>
            <button data-action="click->slider#prev" class="arrow left">
              <%= image_tag "back.png", style: "width: 30px; height: 30px" %>
            </button>
          <% end %>

          <% @product.media.each do |media| %>
            <% if media.image? %>
              <%= image_tag media, class: "thumbnail", data: { action: "click->image-gallery#change", image_gallery_target: "thumbnail", slider_target: "item", url: url_for(media), class: "slider-item" } %>
            <% end %>
          <% end %>

          <% if @product.media.length > 3 %>
            <button data-action="click->slider#next" class="arrow right">
              <%= image_tag "forward.png", style: "width: 30px; height: 30px" %>
            </button>
          <% end %>
        </div>
      </div>
      </div>
    </div>

    <div>
      <h1 style="margin: 0"><%= @product.name.upcase %></h1>

      <strong style="margin-top: 20px; display: block" class="products-show-price">S/ <%= @product.price.to_i %> soles</strong>

      <% if @product.inventory_count > 0 %>
        <p style="margin: 20px 0px 0px; font-size: 16px; font-style: italic">🔥 ¡Quedan <%= @product.inventory_count %> disponibles!</p>
        <p style="color: #28A745; font-weight: 600; margin: 10px 0px 0px">
          <button style="background:rgb(42, 177, 73); border: none; border-radius: 6px; font-weight: 600; padding: 2px 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="15px" height="15px" viewBox="0 0 1920.00 1920.00" stroke="#ffffff" stroke-width="53.760000000000005">
              <g id="SVGRepo_bgCarrier" stroke-width="0"/>

              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

              <g id="SVGRepo_iconCarrier"> <path d="M1827.701 303.065 698.835 1431.801 92.299 825.266 0 917.564 698.835 1616.4 1919.869 395.234z" fill-rule="evenodd"/> </g>
            </svg>
          </button>
          En stock
        </p>
      <% else %>
        <p style="margin: 10px 0px; font-size: 17px; color: red">Agotado</p>
      <% end %>

      <div style="display: flex; align-items: center; gap: 20px; margin: 20px 0" class="add-product">
        <%= button_to t("common.addToCart"), add_product_order_path(@order, product_id: @product.id), name: "addToCart", id: "button-add-to-cart", value: "", disabled: @product.inventory_count <= 0, method: :post, class: "products-show-button-add-cart #{'disable-btn' if @product.inventory_count <= 0}" %>

        <div class="products-show-aument-product" data-increase-product-max-value="<%= @product.inventory_count %>" data-controller="increase-product">
          <button data-action="click->increase-product#decrease" <%= "disabled" if @product.inventory_count <= 0 %> class="products-show-btn-more <%= 'disable-btn' if @product.inventory_count <= 0 %>">-</button>
          <p id="show-value"></p>
          <button data-action="click->increase-product#increase" <%= "disabled" if @product.inventory_count <= 0 %> class="products-show-btn-decrement <%= 'disable-btn' if @product.inventory_count <= 0 %>">+</button>
        </div>
      </div>
      <p id="notice" style="font-style: italic; font-size: 15px; margin-bottom: 15px"></p>

      <p style="border-bottom: 1px solid grey"></p>

      <p style="display: flex; gap: 6px; align-items: center; font-weight: 600; margin: 10px 0px;">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M4 18H14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
        Descripción
      </p>
      <h3 style="margin: 0; font-weight: 400;">
        <%= @product.description %>
      </h3>

      <div class="videos" style="box-sizing: border-box; background: white; padding: 20px; border-radius: 10px; margin-top: 25px; width: 500px">
        <p style="font-weight: 700; font-size: 20px; margin-bottom: 20px; display: flex; align-items: center; gap: 10px">
          <%= image_tag "video.png", style: "width: 30px; height: 30px" %>
          Video/s del producto
        </p>

        <% @product.media.select(&:video?).each do |item| %>
          <%= video_tag item, controls: true, style: "margin-bottom: 15px; width: 100%" %>
        <% end %>

        <% if @product.media.select(&:video?).empty? %>
          <p>No hay videos</p>
        <% end %>
      </div>
  </div>
</section>


<% if authenticated? %>
  <div class="container-buttons">
    <button class="button-edit">
      <%= link_to t("common.edit"), edit_product_path(@product) %>
    </button>

    <%= button_to t("common.delete"), @product, class: "button-delete", method: :delete, data: { turbo_confirm: t("common.sure")} %>
  </div>
<% end %>
